<div class="container-fluid">
  <div class="row">

    <div style="background: #303030; height: 93vh;" class="col-md-3">
      <div>
        <mat-card class="mt-3">
          <form class="mt-3 ms-2" [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Task Name</mat-label>
              <input formControlName="item" matInput placeholder="Task Name">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>add task name</mat-hint>
            </mat-form-field>
            <div class="d-flex justify-content-center mb-2 mt-2">
              <button *ngIf="!isEditEnabled" (click)="addTask()" color="primary" mat-raised-button
                [disabled]="todoForm.invalid">Add</button>
              <button *ngIf="isEditEnabled" (click)="updateTask()" color="accent" mat-raised-button
                [disabled]="todoForm.invalid">Edit</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>

    <div class="col-md-9 mt-3">

      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
            <!-- to do -->
            <div class="example-container">
              <h2 class="d-flex justify-content-center head-title">TO DO <span *ngIf="tasks.length > 0"> -
                  {{tasks.length}} </span>
              </h2>

              <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tasks" [cdkDropListConnectedTo]="[doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>
                  {{item.description}}

                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteTask(i)">
                      <mat-icon>delete</mat-icon>
                    </button>

                    <button mat-icon-button color="primary" (click)="onEdit(item, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>

                </div>
              </div>

            </div>

          </div>

          <div class="col-md-4">
            <!-- inprogress -->

            <div class="example-container">
              <h2 class="d-flex justify-content-center head-title">IN PROGRESS <span *ngIf="inprogress.length > 0"> -
                  {{inprogress.length}}
                </span></h2>

              <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress"
                [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>
                  {{item.description}}

                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteInProgressTask(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                </div>
              </div>

            </div>

          </div>

          <div class="col-md-4">
            <!-- done -->

            <div class="example-container">
              <h2 class="d-flex justify-content-center head-title">DONE <span *ngIf="done.length > 0"> -
                  {{done.length}}
                </span></h2>

              <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>
                  {{item.description}}
                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteDoneTask(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="accent">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
